@using FirstWebApp032022.Data.Models
@model Dog
@{
}


<div class="dog-description">
    <p>Name: @Model.Name</p>
    <p>Breed: @Model.Breed</p>
    <p>Age: @Model.Age</p>
    <p>Color: @Model.Color</p>
    <p>Is Vaccinated: @Model.IsVaccinated</p>
</div>